@import url('https://fonts.googleapis.com/css?family=Fauna+One|Playfair+Display');


body { font-family: 'Fauna One', serif; }
h1, h2 { font-family: 'Playfair Display', serif; }
h3, h4, h5 { font-family: 'Playfair Display', serif; }
a { font-family: 'Fauna One', serif; }

body {
	font-size: 14px;
    background-image: url('../../gallery/bg_road.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Typography */

h1, h2, h3 {
	display: inline-block;
}

h1, h2, h3, h4 {
    font-weight: lighter;
    text-transform: uppercase;
	padding: 0;
    margin: 0.2em 0 0.7em 0;
}

h3 {
	border-bottom: 3px solid #078C2A;
}
a, p {

}

.about, .objectives, .experience, .skills, .education, .footer {
    background-color: #FFF;
}
.about, .objectives {
    margin-bottom: 3em;
}

.experience, .skills, .education {
    margin-bottom: 150px;
}

.intro .wrapper, .about .wrapper, .objectives .wrapper, .experience .wrapper, .skills .wrapper, .education .wrapper, .footer .wrapper {
	padding: 1em;
}

.intro {
    margin-top: 3em;
}
.intro h1, .intro h2 {
    color: #FFF;
    background-color: #35bf5a;
    font-weight: lighter;
    font-size: 2.3em;
    margin: 0.4em 0;
    padding: 0.1em;
}

.overview {
	text-align: center;
    margin-top: 3em;
}

.overview img.avatar {
    display: block;
    margin: 0 auto;
	border-radius: 75px;
    width: 150px;
    height: 150px;
}
.skill {
	display: inline-block;
	background-color: #35bf5a;
	color: #FFFFFF;
	text-transform: lowercase;
	margin: 0.3em;
	padding: 0.1em 0.3em;

	 -webkit-box-shadow: 1px 1px 2px 0px #708890;
           -moz-box-shadow: 1px 1px 2px 0px #708890;
                box-shadow: 1px 1px 2px 0px #708890;
}


.education > .wrapper > section {
    margin: 1em;
    padding: 1em;
    background-color: #FFFFFF;
    position: relative;
}

    .education > .wrapper > section > .period {
        position: absolute;
        top: -0.4em;
        left: 0.4em;
    }


.language ul > li > span {
    font-style: italic;
}

nav.social a {
	line-height: 0; 
    font-size: 0;
    color: transparent; 
    padding-right: 5px;
}

/* navigation */

.navbar {
    display: none;
}

.navbar-default {
    background-color: #35bf5a;
    text-transform: lowercase;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #9C084E;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #078C2A;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .intro .wrapper, .experience .wrapper, .skills .wrapper, .education .wrapper, .footer .wrapper {
        max-width: 1200px;
        margin: 0 auto;  
    }

    .experience, .skills, .education {
        margin-bottom: 250px;
    }
}



/**
 * Timeline
 */
div.timeline {
    position: relative;
}
div.timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 38px;
    height: 100%;
    width: 3px;
    background: #078C2A;/*#ededed*/
}

section.timeline-item {
    position: relative;
    margin: 2em 0;
}

section.timeline-item > div.timeline-content {
    position: relative;
    margin-left: 120px;
}
    section.timeline-item > div.timeline-content > h4 {
        padding-top: 0;
    }

    section.timeline-item > div.timeline-content > h4 > .company {
        font-weight: bold;
    }

    section.timeline-item > div.timeline-content > h4 > .location {
        font-weight: normal;
    }
    section.timeline-item > div.timeline-content > h4 > .role {
        font-weight: normal;
        text-transform: lowercase;
    }

    section.timeline-item > div.timeline-icon {
        position: absolute;
        top: 12px;
        left: 29px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid #078C2A;
        background: #FFF;
    }

        section.timeline-item > div.timeline-icon > span {
            position: relative;
            top: -10px;
            left: 27px;
            text-align: center;
        }       