@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
header, main, footer, .menu, .gallery-slick {
  max-width: 1024px;
  margin: 1em auto;
  padding: 1em;
}
  
/* typography */
p { color: #555; line-height: 2em; font-size: 1.3em; }

.highlight {
  font-family: 'Lato', sans-serif;
  font-size: 1.6em; 
  background-color: #35bf5a; 
  color: #fff; 
  padding: 0 0.3em; 
}

p > a { text-decoration: none; background-color: #35bf5a; color: #fff; padding: 0 0.2em; }
p > a:hover, p > a.active {   }
  
div.summary > p {
  letter-spacing: 1px;
  color: #444444;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: justify;
}  

p.img-caption {
  color: #fff;
  line-height: 1.2em;
  font-size: 1em;
  display: none;
}

header {
  text-align: center;
}
header > img.avatar {
  border-radius: 50%;
}
  
nav.navigation {
  text-align: center;
  font-size: 1.6em;
}
 
nav.social > a {
  line-height: 0; 
  font-size: 0;
  color: transparent; 
}

/* cycling text */
.rw-sentence {
  position: relative;
  left: -7em;
}
.rw-sentence span {
  white-space: nowrap;
}
.rw-words {
  padding: 0;
}
.rw-words > span {
  padding: 0 0.3em; 
  top: -0.85em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.rw-words span:nth-child(1) { background-color: #35bf5a; }
.rw-words span:nth-child(2) { background-color: #2F899E; }
.rw-words span:nth-child(3) { background-color: #FFA247; }
.rw-words span:nth-child(4) { background-color: #FF5C47; }
.rw-words > span {
  animation: rotateWords 12s linear infinite 0s; 
}
.rw-words span:nth-child(2) { animation-delay: 3s; }
.rw-words span:nth-child(3) { animation-delay: 6s; }
.rw-words span:nth-child(4) { animation-delay: 9s; }
@keyframes rotateWords {
  0% { opacity: 1; animation-timing-function: ease-in;}
  8% { opacity: 1; }
  19% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0; }
}

/* add some spacing */
div.summary, nav.navigation {
  margin-top: 75px;  
}
  
/* animate.css tweaks */
span.animated {
  display: inline-block;
}
#role {
  -webkit-animation-delay: .8s;
     -moz-animation-delay: .8s;
          animation-delay: .8s;
}


@media (max-width:650px) {
  div.gallery-wrapper {
    width: inherit;
  }
}


/* overlay navigation */
.overlay { 
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay > nav {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

.overlay a {
    padding: 0.5em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    background-color: #35bf5a;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay-action {
  text-align: right;

}
.overlay-action > .openbtn {
  display: inline-block;
  text-decoration: none;
  background-color: #35bf5a;
  color: #fff;
  padding: 0.5em;
  -webkit-box-shadow: 1px 1px 2px 0px #708890;
     -moz-box-shadow: 1px 1px 2px 0px #708890;
          box-shadow: 1px 1px 2px 0px #708890;
}


@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#pscroll { display: none; }


section.gallery {
  margin: 0 auto;
  padding: 2em;
  color: #333;
  background: #35bf5a;
}

section.gallery .slick-slide {
  margin: 3px;
}

section.gallery img {
  border: 3px solid #fff;
}

.slider .slide {width: 100%; height: 100%;}