@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: #292627;
}

h1, h2  {
    font-family: 'Lato', sans-serif;
}
h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    padding: 0.2em;
}
h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline-block;
    color: #292627;
    border-bottom: 4px solid #35bf5a;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 0.3em;
}

aside {
    border-radius: 0 0 0.25em 0.25em;
    background: #efefef;
    padding: 1em;
    box-shadow: 0 3px 0 #ededed;
}

.overview {
    border-radius: 0.25em 0.25em 0 0;
    background-color: #35bf5a;
    color: #fff;
    padding: 1.5em 1em;
    text-align: center;
}

.overview > img.avatar {
    border-radius: 100px;
    box-shadow: 0 3px 0 #ededed;
    
    -webkit-box-shadow: 1px 1px 2px 0px #708890;
       -moz-box-shadow: 1px 1px 2px 0px #708890;
            box-shadow: 1px 1px 2px 0px #708890;
}

div.entry {
    padding: 1em 0;
}

ul {
    margin: 0;
    padding: 0;
}
ul > li {
    list-style-type: none;
}

ul > li > .progress-label {
    display: inline-block;
    margin-top: 5px;
}

ul > li > em {
    font-style: normal;
    font-weight: bold;
}

ul > li > span.b {
    display: block;
    font-weight: bold;
    padding-top: 0.2em;
}

.progress {
    height: 5px;
}
.progress-bar {
    background-color: #35bf5a;
}


nav.social > a {
    line-height: 0; 
    font-size: 0;
    color: transparent; 
    padding-right: 5px;
}


header, footer {
    height: 2em;
}


section.about > p, section.objectives > p, section.skills > div, section.education > section {

}

/**
 * Skill
 */
.skill {
    border-radius: 0.25em;
    background: #f0f9ed;
    margin: 0.3em 0;
}

    .skill > .skill-progress {
        font-size: 0.9em;
        text-transform: lowercase;
        border-radius: 0.25em;
        /*background-color: #35bf5a;*/
        background-color: #35bf5a;
        padding: 0.125em 0.3em;
    }
        .skill > .skill-progress > span.nowrap {
            white-space: nowrap;
            color: #fff;
        }

/**
 * Timeline
 */
div.timeline {
    position: relative;
}
div.timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 38px;
    height: 100%;
    width: 4px;
    background: #35bf5a;/*#ededed*/
}

section.timeline-item {
    position: relative;
    margin: 2em 0;
}

section.timeline-item > div.timeline-content {
    position: relative;
    margin-left: 80px;
    /*background: #35bf5a;*/
    background-color: #ededed;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #c7d6c2;
}

    section.timeline-item > div.timeline-content::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid #ededed;
    }

    section.timeline-item > div.timeline-content > h4 {
        padding-top: 0;
    }

    section.timeline-item > div.timeline-icon {
        position: absolute;
        top: 12px;
        left: 30px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        /*box-shadow: 0 0 0 4px #35bf5a, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);*/
        background: #35bf5a;
    }

        section.timeline-item > div.timeline-icon > span {
            position: relative;
            left: -30px;
            text-align: right;
            font-weight: bold;
        }       